/*

.footer {
  background: yellowgreen;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
}

.link {
  background: skyblue;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.link:hover {
  background: blueviolet;
}

.active {
  background: teal;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.header {
  background: yellowgreen;
  padding: 20px;
}
*/
